/* CSS Class */
* {
    box-sizing: border-box;
}
h1{
    margin: 0;

}
.jumbotron-fluid{
    padding: 10px;
}
.center h2{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size:40px;
}
.center li{
    text-align: center;
}
li {
    list-style: none;
}
/* -------- */
.header-bg{
    background-color: brown;
}
.jumbotron-fluid{
    /* background-color: #f76c5e; */
    border: 2px solid white;
    padding:30px;
    text-align: center;
}
.jumbotron-fluid h1{
    color: #FFCC99;
    font-size: 7rem;
    font-family: 'Henny Penny', cursive;
}

.jumbotron-fluid p{
    padding:10px;
    font-size:20px;
    color: #FFCC99;
    font-family: 'Roboto', sans-serif;

   
}
#footer{
    background-color: brown;
    text-align: center;
    color: red;
    bottom: 0px;
}
.list-grid{
    padding:10px;
    background-image:linear-gradient(rgba(255, 204, 153,0.5),#FFCC99,rgba(255, 204, 153,0.5));
}
.list-grid ol{
    column-count: 3;
}
.list-grid a{
        color:brown;
        font-family: 'Roboto', sans-serif;


}
.list-grid h2{
    padding:0px 0px 30px 0px;
    color:brown;
}

@media (max-width: 768px) {
    .jumbotron-fluid h1 {
        font-size: 4rem;
    }
}

