/* CSS Class */
* {
    box-sizing: border-box;
}
.center h2{
    text-align: center;
}
.center li{
    text-align: center;
}
li {
    list-style: none;
    flex: 1;
    padding: 0 20px 0 20px;
    box-shadow: 0 0 3px black;
}
/* -------- */
.header-bg{
    background-color: #f76c5e;
}
.jumbotron-fluid{
    /* background-color: #f76c5e; */
    
    text-align: center;
}
.jumbotron-fluid h1{
    color: white;
    font-size: 8rem;
}
.jumbotron-fluid p{
    color: white;
   
}
#footer{
    background-color: blue;
    text-align: center;
    color: red;
    bottom: 0px;
}

.list-grid ol{
    display: inline-flex;
    flex-wrap: wrap;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .jumbotron-fluid h1 {
        font-size: 4rem;
    }
}

