/* CSS Class */
* {
    box-sizing: border-box;
}
h1{
    margin: 0;

}
.jumbotron-fluid{
    padding: 10px;
}
.center h2{
    text-align: center;
}
.center li{
    text-align: center;
}
li {
    list-style: none;
}
/* -------- */
.header-bg{
    background-color: #f76c5e;
}
.jumbotron-fluid{
    /* background-color: #f76c5e; */
    text-align: center;
    height: 100vh;
    padding: 16% 0;
}
.jumbotron-fluid h1{
    color: white;
    font-size: 8rem;
}
.jumbotron-fluid p{
    color: white;
   
}
#footer{
    background-color: blue;
    text-align: center;
    color: red;
    bottom: 0px;
}

.list-grid ol{
    column-count: 3;
}

@media (max-width: 768px) {
    .jumbotron-fluid h1 {
        font-size: 4rem;
    }
}

.section.header-bg:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -49%;
    width: 100%;
    background: #b93b2e;
    transform: skew(-146deg);
    opacity: 0.4;
}

.jumbotron-fluid .lead {
    margin-bottom: 50px;
}